@import "../../../styles.scss";

.button{
  display: flex;
  position: fixed;
  bottom: 0;
  right:0 ;
  margin: 30px;
  padding: 15px;
  font-size: .9rem;
  z-index: 500;
  letter-spacing: 2px;
  overflow: hidden;
  img{
    width: 60px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.178));
  }
  &:hover{
    cursor: pointer;
  }
}
.progress{
  content: '';
  position: fixed;
  // width: 10%;
  height: 2px;
  @include primary-gradient;
  transition: all .3s;
  top: -0px;
  left: 0;
  z-index: 20000;
}
@media (width <= 800px) {
  .button{
    margin: 10px;
  }
}