@import "../../../styles.scss";

.button{
  display: flex;
  gap: 20px;
  background-color: $white1;
  border: 3px solid rgb(68, 68, 68);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.336);
  position: fixed;
  bottom: 0;
  right:0 ;
  margin: 50px;
  padding: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  font-size: .9rem;
}
