@defer {
<app-header></app-header>
<div class="container">
  <div class="banner" id="section1">
    <div class="info">
      <span class="title title1">WE ARE</span>
      <span class="title title2">FULL-SERVICE</span>
      <span class="title title3">AGENCY</span>
    </div>
  </div>
  <div class="faixa" style="--width: 27%;--height:50px; --quantity:4">
    <ul>

      <li style="--position:1">STRATEGY1</li>
      <li style="--position:2">STRATEGY2</li>
      <li style="--position:3">STRATEGY3</li>
      <li style="--position:4">STRATEGY4</li>
      <!-- <li style="--position:5">STRATEGY5</li> -->
    </ul>
  </div>
  <section id="section2">
    <div class="left">
      <div class="image_container">
        <img src="foto4.png" alt="" />
      </div>
    </div>
    <div class="right">
      <div class="item">
        <div class="title">
          <h1>CRIE UM SITE</h1>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <p>
          Para o design do seu site, use um dos nossos templates, fontes e
          paletas de cores — os melhores da categoria.
        </p>
      </div>
      <div class="item">
        <div class="title">
          <h1>ALAVANQUE SEU NEGOCIO</h1>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <p>
          Divulgue sua empresa e aumente sua base de clientes com ferramentas de
          e-mail marketing, mídias sociais e SEO.
        </p>
      </div>
      <div class="item">
        <div class="title">
          <h1>DIVULGUE SUA EMPRESA</h1>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>

        <p>
          Divulgue sua empresa e aumente sua base de clientes com ferramentas de
          e-mail marketing, mídias sociais e SEO.
        </p>
      </div>
    </div>
  </section>
  <app-section3></app-section3>
  <app-section4></app-section4>
</div>
<app-footer></app-footer>
<!-- <app-contact-button></app-contact-button> -->
}