@defer {
<app-header></app-header>
<div class="container"  #container>
  <div class="banner" id="section1">
    <div class="info">
      <span class="title title1" data-aos="fade-up"  data-aos-delay="300">WE ARE</span>
      <span class="title title2">FULL-SERVICE</span>
      <span class="title title3" (click)="changeTheme()">AGENCY</span>
    </div>
  </div>
  <div class="faixa" style="--width: 27%;--height:50px; --quantity:4">
    <ul>

      <li style="--position:1">ESTRATÉGIA</li>
      <li style="--position:2">DESIGN</li>
      <li style="--position:3">PERFORMACE</li>
      <li style="--position:4">RESULTADOS</li>
      <!-- <li style="--position:5">STRATEGY5</li> -->
    </ul>
  </div>
  <section id="section2">
    <div class="left">
      <div class="image_container">
        <img src="foto4.png" alt="" />
      </div>
    </div>
    <div class="right">
      <div class="item">
        <div class="title"  data-aos="fade-right">
          <h1 >CRIE UM SITE</h1>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <p data-aos="fade-right"  data-aos-delay="200">
          Transforme visitantes em clientes usando as nossas páginas com design estratégico projetado para o seu negócio.
        </p>
      </div>
      <div class="item">
        <div class="title" data-aos="fade-right"  data-aos-delay="300">
          <h1 >ALAVANQUE SEU NEGOCIO</h1>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <p data-aos="fade-right"  data-aos-delay="400">
          Garanta resultados reais co com Landing pages desenvolvidas utilizando técnicas avançadas de UX, UI e SEO.
        </p>
      </div>
      <div class="item">
        <div class="title" data-aos="fade-right"  data-aos-delay="500">
          <h1>DIVULGUE SUA EMPRESA</h1>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>

        <p data-aos="fade-right"  data-aos-delay="600">
          Aumente a sua visibilidade online e se destaque no mercado com um design atrativo. Registre a sua marca no mundo!
        </p>
      </div>
    </div>
  </section>
  <app-section3></app-section3>
  <app-section4></app-section4>
</div>
<app-footer></app-footer>
<app-contact-button></app-contact-button>
}