@defer () {
  <app-header></app-header>
  <div class="container">
    <div class="banner" id="section1">
      <h1>TESTES MOTION</h1>
    </div>
    <section id="section2">
      <div class="left">
        <video loop autoplay src="https://cdn.dribbble.com/userupload/31271721/file/large-c1d48c6dd48937bbbba410c834097442.mp4"></video>
      </div>
      <div class="right">
        <div class="item">
          <div class="title">
            <h1>Crie um site</h1>
            <fa-icon [icon]="faAngleRight"></fa-icon>

          </div>
          <p>Para o design do seu site, use um dos nossos templates, fontes e paletas de cores — os melhores da categoria.</p>
        </div>
        <div class="item">
          <div class="title">
            <h1>Alavangue o seu produto</h1>
            <fa-icon [icon]="faAngleRight"></fa-icon>

          </div>
          <p>Divulgue sua empresa e aumente sua base de clientes com ferramentas de e-mail marketing, mídias sociais e SEO.</p>
        </div>
        <div class="item">
          <div class="title">
            <h1>Divulgue a sua empresa</h1>
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </div>

          <p>Divulgue sua empresa e aumente sua base de clientes com ferramentas de e-mail marketing, mídias sociais e SEO.</p>
        </div>
      </div>
    </section>
  </div>
  <app-email></app-email>
  <app-footer></app-footer>
  <app-contact-button></app-contact-button>
}
