<div class="container">
    <h3>PORTIFÓLIO</h3>
    <ul class="items_container">
        <li class="item main" data-aos="zoom-in">
            <a href="https://loja-de-roupas-ten.vercel.app/">
                <img src="/site1.png" alt="trabalho 1">
                <span>LANDING PAGE</span>
            </a>
        </li>
        <li class="item main" data-aos="zoom-in"  data-aos-delay="200">
            <a href="https://josueledo.github.io/Porsche/#">
                <img src="/site3.png" alt="trabalho 1">
                <span>LANDING PAGE</span>
            </a>
        </li>
        <li class="item main" data-aos="zoom-in"  data-aos-delay="400">
            <a href="https://www.lacatitasports.com/">
                <img src="/site4.png" alt="trabalho 1">
                <span>LANDING PAGE</span>
            </a>
        </li>
    </ul>
    <div class="more_container">
        <span class="more"> SEE MORE</span>
        <fa-icon [icon]="faAngleDown"></fa-icon>
    </div>

</div>