<div class="container">
    <h3>OUR WORKS</h3>
    <ul class="items_container">
        <li class="item main" data-aos="zoom-in">
            <img src="/imagem1.jpg" alt="trabalho 1">
            <span>LANDING PAGE</span>
        </li>
        <li class="item" data-aos="zoom-in"  data-aos-delay="200">
            <img src="/imagem2.jpg" alt="trabalho 1">
            <span>LANDING PAGE</span>
        </li>
        <li class="item" data-aos="zoom-in"  data-aos-delay="400">
            <img src="/imagem3.jpg" alt="trabalho 1">
            <span>LANDING PAGE</span>
        </li>
    </ul>
    <div class="more_container">
        <span class="more"> SEE MORE</span>
        <fa-icon [icon]="faAngleDown"></fa-icon>
    </div>

</div>