<div class="container">
  <div class="content">
    <div class="title">

        <h1>WHY CHOSE CATTURA?</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti
            delectus odit doloremque
        </p>
    </div>
    <ul class="items_container">
      <li>
        <fa-icon [icon]="faChartSimple"></fa-icon>

        <h3>IMPROVE YOUR WORK</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        </p>
      </li>
      <li>
        <fa-icon [icon]="faChartSimple"></fa-icon>

        <h3>IMPROVE YOUR WORK</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </li>
      <li>
        <fa-icon [icon]="faChartSimple"></fa-icon>

        <h3>IMPROVE YOUR WORK</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </li>
    </ul>
  </div>
</div>
