<div class="container">
  <div class="content">
    <div class="title">

        <h1>Por que escolher a Cattura?</h1>
        <p>
          Somos uma empresa inovadora, dedicada a criar uma identidade única para o seu negócio destacando sua marca no mercado.
        </p>
    </div>
    <ul class="items_container">
      <li data-aos="fade-right">
        <fa-icon [icon]="faBullseye"></fa-icon>

        <h3>Design estratégico</h3>
        <p>
          Páginas com UX, UI e visual atrativo.
        </p>
      </li>
      <li data-aos="fade-left"  data-aos-delay="100">
        <fa-icon [icon]="faChartSimple"></fa-icon>

        <h3>Otimização de resultados</h3>
        <p>
          Foco em SEO para mais visibilidade e conversão.
        </p>
      </li>
      <li data-aos="fade-right"  data-aos-delay="300">
        <fa-icon [icon]="faLeaf"></fa-icon>

        <h3>Performance e eficiência</h3>
        <p>
          Sites rápidos com carregamento ágil.
        </p>
      </li>
    </ul>
  </div>
</div>
