<div class="container">
  <div class="content">
    <div class="title">

        <h1>Por que escolher a Cattura?</h1>
        <p>
          Somos uma empresa inovadora, dedicada a criar uma identidade única para o seu negócio destacando sua marca no mercado.
        </p>
    </div>
    <ul class="items_container">
      <li>
        <fa-icon [icon]="faBullseye"></fa-icon>

        <h3>Design estratégico</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        </p>
      </li>
      <li>
        <fa-icon [icon]="faChartSimple"></fa-icon>

        <h3>Otimização de resultados</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </li>
      <li>
        <fa-icon [icon]="faLeaf"></fa-icon>

        <h3>Performance e eficiência</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </li>
    </ul>
  </div>
</div>
